<!-- your html code here -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class= "d-flex justify-content-end ">
        <div class= "d-flex align-items-end gap-3 my-5 ms-5" style="max-width: 950px;">
            <div class="d-flex justify-content-end  container mt-3">
                <div class="p-2 w-100">
                    <h2><strong>The First Heading</strong>
                        <spam class="text-secondary fw-normal"> Will Catch Your Eye.</spam>
                    </h2>
                    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
                        semper.
                        Praesent
                        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                    </p>
                </div>
                <img class="rounded-circle p-2 flex-shrink-1 d-flex justify-content-end"
                        src="https://media.tenor.com/RSl30rOF2zsAAAAe/breaking-bad-walter-white.png"
                        alt="you are goddamn right" width="250px" height="250px">
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    </div>
</body>

</html>